{% extends 'tetapp/base.html' %}

{% block content %}
    <h1>{{ title }}</h1>
    <p>Hello guys you is my site!</p>
    <ul class="list-articles">
        {% for p in posts %}
        <li>
            {% if p.photo %}
                <p><img class="img-article-left thumb" src="{{p.photo.url}}"></p>
            {% endif %}
            <h2>{{ p.title }}</h2>
            <p>{{ p.content }}</p>
            <div class="clear"></div>
            <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Open post</a></p>
        </li>
        {% endfor %}
    </ul>
{% endblock %}